# Examen Parcial n°1 2da Parte - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).


### Criterios de Evaluación:

1. No esta permitido el uso de IAs durante el examen. (Desactivar Copilot o cualquier herramienta de IA para autocompletar codigo.)

2. Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).

3. Comentarios claros y concisos que expliquen el propósito de cada sección del código en una celda de markdown antes del código.

4. Utilizar mensajes de commit descriptivos. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).

5. Entrega en tiempo y forma (Parciales entregados fuera de hora o con commits pasados el horario de entrega quedará invalidado.)

6. Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: 
**parcial1_tlp3_nombre_apellido**).

7. Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter.

8. Deben trabajar con el datasets adjunto.

9. Una vez finalizado el examen, los resultados deben quedar guardados debajo de cada celda (NO EJECUTAR LA OPCIÓN "borrar todas las salidas").

**Importante:** Una vez finalizado el examen, marcar como completado en el classroom.

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de VOTACIONES en un Datasets.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. 
- 2.1: Visualizar las primeras filas y ultimas.
- 2.2: Obtener informacion del df con su metodo correspondiente.
- 2.3: Hacer un conteo de valores nulos.

### 3. Limpieza y Normalización de los Datos

- 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
- 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
- 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.)
- 3.4: En el caso de los votos, aplicar mayusculas a cada fila.
- 3.5 EL campo DNI debe ser del tipo INT.


### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben hacer lo siguiente: 

- 4.1: calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos.
- 4.2: Calcular estadísticas específicas por grupo (Agrupar dos columnas).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear **UNA** visualización que permitan comprender mejor los datos de ventas.El grafico es a elección, puede crear **UNO** de los siguientes: histogramas, diagramas de dispersión, gráficos de barras y graficos de torta.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Deben hacer una conexión y hacer una consulta para ver si los datos fueron cargados correctamente.

## Desarrollo de Actividades

#### Importacion de las librerias
* Importamos  pandas para el analisis y manejo de datos
* Importamos matplotlib para la visualizacion

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#### Carga del Archivo csv 
Carga el archivo `votaciones.csv` a un DataFrame

In [2]:
df = pd.read_csv("votaciones.csv")

#### Exploracion inicial de datos

Visualizacion de los primeros 10 elementos de DataFrame:

In [3]:
df.head(10)

     nombre apellido         dni     provincia  voto fecha_votacion
0   pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1    albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2       NaN   solano  49179364.0       neuquen  nulo     2024-05-20
3    salomé   barrio  43725639.0  buenos aires   NaN     05-06-2024
4    matías  esteban  30599927.0         chaco    no     10-07-2023
5       NaN     sosa  17014535.0      santa fe    sí     02-11-2024
6  gervasio      bou  33761658.0       mendoza    no     23-09-2023
7   brígida   angulo  22169546.0         chaco    no     2024-05-02
8    glauco    fabra         NaN       cordoba    sí     07-06-2023
9  trinidad  company  12192872.0       neuquen  nulo     30-10-2024

Visualizacion de los ultimos 10 elementos de DataFrame

In [4]:
df.tail(10)

        nombre  apellido         dni     provincia  voto fecha_votacion
91        alma   pereyra  11121314.0       mendoza    no     17-09-2023
92   alejandro     bazan  12131415.0         chaco  nulo     16-09-2023
93      marcos  villalba         NaN         salta    sí     15-09-2023
94      yesica    ospina  13141516.0  buenos aires    no     2023-09-14
95     leandro    torres  14151617.0       cordoba    sí     13-09-2023
96       carla     vidal  15161718.0      misiones  nulo     2023-09-12
97    federico   barrios  16171819.0       neuquen    no     11-09-2023
98       belen      vera  17181920.0       tucuman    sí     2023-09-10
99     gustavo     gauna  18192021.0      santa fe  nulo     09-09-2023
100      rocio     avila  19202122.0       formosa    no     08-09-2023

Visualizacion de la informacion general del DataFrame (`Columnas`, `Valores no nulos`, `Tipos de datos`)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          91 non-null     object
 1   apellido        94 non-null     object
 2   dni             90 non-null     float64
 3   provincia       95 non-null     object
 4   voto            96 non-null     object
 5   fecha_votacion  95 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.9+ KB

Conteo de valores nulos por columna

In [6]:
df.isnull().sum()

nombre            10
apellido           7
dni               11
provincia          6
voto               5
fecha_votacion     6
dtype: int64